<!--banner-->
<section id="banner-section">
    <!--Carousel-->
    <div class="carousel">
        <!--list item/slides-->
        <div class="list">
            <!--Slide 1-->
            <div class="item">
                <img src="src/img/banner-2.jpg" alt="Campus Cafeteria">
                <div class="content">
                    <div class="author">Welcome to</div>
                    <div class="title">Campus</div>
                    <div class="topic">Cafeteria!</div>
                    <div class="des">
                        <p><i>"Where Every Meal Feels Like Home."</i></p>
                        <p>You can order online to collect, request delivery, or visit us on-site!</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <!--Slide 2-->
            <div class="item">
                <img src="src/img/Banner.jpg" alt="Campus Cafeteria">
                <div class="content">
                    <div class="author">Welcome to</div>
                    <div class="title">Campus</div>
                    <div class="topic">Cafeteria!</div>
                    <div class="des">
                        <p><i>"Where Every Meal Feels Like Home."</i></p>
                        <p>You can order online to collect, request delivery, or visit us on-site!</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <!--Slide 3-->
            <div class="item">
                <img src="src/img/banner-2.jpg" alt="Campus Cafeteria">
                <div class="content">
                    <div class="author">Welcome to</div>
                    <div class="title">Campus</div>
                    <div class="topic">Cafeteria!</div>
                    <div class="des">
                        <p><i>"Where Every Meal Feels Like Home."</i></p>
                        <p>You can order online to collect, request delivery, or visit us on-site!</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Thumbnails-->
        <div class="thumbnail">
            <!--list-->
            <div class="item">
                <img src="src/img/banner-2.jpg" alt="">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="des">Description</div>
                </div>
            </div>               
            <div class="item">
                <img src="src/img/Banner.jpg" alt="">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="des">Description</div>
                </div>
            </div>               
            <div class="item">
                <img src="src/img/banner-2.jpg" alt="">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="des">Description</div>
                </div>
            </div>               
        </div>
        <!--arrows-->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <div class="time"></div>      
    </div>
    <!--Carousel-->
</section>