<footer class="footer text-center text-white bg-dark py-4">
    <div class="container">
        <div class="row">
            <!-- Contact Information -->
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Contact Us</h5>
                <p>Email: info@campuscafe.co.za</p>
                <p>Phone: (123) 456-7890</p>
                <p>Address: 10 Streatley Ave, Auckland Park, Johannesburg, 2092</p>
            </div>

            <!-- Opening Hours -->
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Opening Hours</h5>
                <p>Monday - Friday: 7:00 AM - 8:00 PM</p>
                <p>Saturday: 8:00 AM - 6:00 PM</p>
                <p>Sunday: 9:00 AM - 4:00 PM</p>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://www.facebook.com/campuscafeteria" target="_blank" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="https://www.twitter.com/campuscafeteria" target="_blank" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/allentech22" target="_blank" class="text-white me-3"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/campuscafeteria" target="_blank" class="text-white"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <hr class="my-4">

        <!-- Copyright -->
        <div class="row">
            <div class="col-12">
                <p>&copy; 2024 Campus Cafeteria. All rights reserved.</p>
                <p><a href="#" class="text-white">Privacy Policy</a> | <a href="#" class="text-white">Terms of Service</a></p>
            </div>
        </div>
    </div>
</footer>
