<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark small border-bottom shadow-sm fixed-top custom-nav" style="--bs-bg-opacity: .9;">
        <div class="container-fluid">
            <!-- Logo Image -->
            <a href="index.html" class="navbar-brand pb-2">
                <img style="width: 45px;" src="src/img/logo_white.png" alt="Campus Cafeteria Logo">
            </a>
            <!-- Brand Name -->
            <a href="index.html" class="navbar-brand pb-0">
                <span class="brand-style brand-gradient">
                    Campus Cafe
                </span>
            </a>
            <!-- Navbar Toggler -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Menus -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar-content">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#menu-section" class="nav-link text-white">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link text-white">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="aboutUsDropdown">
                            <li><a href="#" class="dropdown-item">Careers</a></li>
                            <li><a href="#" class="dropdown-item">Our Mission</a></li>
                            <li><a href="#" class="dropdown-item">Our Vision</a></li>
                            <li><a href="#" class="dropdown-item">Our Values</a></li>
                            <li><a href="#" class="dropdown-item">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>  
            </div>
            <!-- Search, Profile, Cart -->
            <form class="d-flex align-items-center" role="search">
                <div class="input-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Search...">
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="profile ms-3">
                    <a href="#" class="btn btn-sm btn-success">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
                <div class="btn-cart ms-3">
                    <a href="#" class="btn btn-sm btn-success cart-icon">
                        <i class="bi bi-cart3"></i>
                        <span class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
                    </a>
                </div>
            </form>
        </div>
    </nav>
</header>

